{% extends 'entry_parent.html' %}
{% load bootstrap %}
{% block title %}
<title>Change Password</title>
{% endblock%}
{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 offset-md-3 text-center">
            <img src="/{{request.user.profiles.profile_pic}}" style="border-radius:50%; width:7vw; height:7vw; object-fit:cover;  ">
            <span style="font-size:30px; padding:30px">{{request.user.username}}</span>
            {% include 'msg.html' %}
            <div class="card py-5 px-2 text-center border-0">
                <form class="form ChangePass" action="" method="POST">
                    {% csrf_token %}
                    {{ password_change_form | bootstrap_horizontal }}
                    <button type="submit" class="btn mt-3 mb-4  btn-primary " style="padding:10px 10vw; border-radius:50px;">Change Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter Old Password"
    form_fields[2].placeholder = "Enter New Password"
    form_fields[3].placeholder = "Confirm Password"



    for(field in form_fields){
    form_fields[field].className += ' my-3'
    }


</script>

{% endblock %}