{% extends 'entry_parent.html' %}
{% load bootstrap %}
{% block title %}
<title>Register User</title>
{% endblock %}
{% block main_content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mt-5">PHOTO</h1>
            <h4 class="text-center">Capturing the best moments of your life</h4>
            {% include 'msg.html'%}
            <div class="card mt-5 py-2 px-2 text-center border-0">
                <form class="form regForm" action="" method="POST">
                    {% csrf_token %}
                    {{ form_register | bootstrap_horizontal }}
                    <button type="submit" class="btn mt-3 mb-4  btn-primary " style="padding:10px 15.9vw; border-radius:50px;">Register
                    </button>
                     <p class="mb-5">Already on PHOTO?
                        <span>
                            <a class=" {{active_login}}" id="logRegister" href="/login"><b>Sign in</b></a></span>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter Username"
    form_fields[2].placeholder = "Enter Password"
    form_fields[3].placeholder = "Confirm Password"
    for(field in form_fields){
    form_fields[field].className += ' my-2 '
    }

</script>
{% endblock %}