{% extends 'admin_parent.html' %}
{% load bootstrap %}
{% block title %}
<title>WALLPAPER UPDATE</title>
{% endblock %}
{% block main_content %}

<div class="container text-center ">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-5 py-4">Update Wallpaper</h1>
            {% include 'msg.html'%}
            <div class="card p-0 border-0">
                <form class="form wall_update" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_wallpaper | bootstrap_horizontal }}
                    <button type="submit" class="btn mt-3 mb-3  btn-warning " style="padding:10px 15.9vw">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Update Wallpaper Name"
    form_fields[2].placeholder = "Update Price"
    for(field in form_fields){
    form_fields[field].className += ' my-2 '
    }

</script>
{% endblock %}